Repository parallax/jsPDF, pull requests merged in 2018-02, with the labels that each got.

#1559 Fix UInt8Array decoding for addImage plugin
  plugins/addimage.js
Labels: addimage.js

#1586 getTextColor now works for grayscale values
  docs/jspdf.js.html
  jspdf.js
  tests/text/reference/alternating-text-styling.pdf
  tests/text/standard.spec.js
Labels: jspdf.js

#1560 [AddImagePlugin] Use TransformationMatrix to rotate Images
  plugins/addimage.js
  tests/addimage/reference/rotation-45.pdf
  tests/addimage/reference/rotation-90.pdf
  tests/addimage/standard.spec.js
Labels: addimage.js

#1473 context2d - Fix hollow paths being drawn as filled
  plugins/context2d.js
Labels: context2d.js
